/* Master Styles */ 

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;

}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s; 
}

.nav-link-wrapper a {
    color: #8a8a8a; 
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color:black; 
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black import !important;
}

/* Portfolio Styles */

p {
    text-align: center;
    color: lightcoral;
    font-weight: 600;
}

/* creates 3 columns and gives each one of them their own full size folumn */
.portfolio-items-wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
}

/* Allows us more flexibility in positioning each item inside it*/
.portfolio-item-wrapper {
    position: relative; 
    text-align: center;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    /*makes sure pictures are cropped properly */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

/* position relative is required to use absolute which forces an element to be in another place where it otherwise would not go */
/* all elements positioned at top, and use flexbox to position them */
.img-text-wrapper {
    position: absolute;
    /* positions at very top */
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* left to right */
    justify-content: center;
    /* top to bottom */
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

}


.img-text-wrapper h2 {
    color: white;
    margin-bottom: 20px;
    font-weight: 800;

}


.img-text-wrapper p {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover p {
    font-weight: 600;
    color:lightpink;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* About Page */ 
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding:30px;
}
.profile-content-wrapper h1 {
    color: lightcoral;
}

.profile-content-wrapper p {
    color:dimgray;
    text-align: left;
}

/*Social Media Icons*/

.fa {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    width: 20px;
    text-decoration: none;
    border-radius: 50%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

/*Tic Tac Toe Page */
.tic-tac-toe h1 {
    text-align: center;
    color: lightcoral;
}

.tic-tac-toe p {
    text-align: center;
    color: dimgray;
}
